PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE users (id INTEGER PRIMARY KEY AUTOINCREMENT, username TEXT UNIQUE NOT NULL, email TEXT UNIQUE NOT NULL, hash TEXT NOT NULL, user_image TEXT DEFAULT '/static/img/undraw_profile.svg', quiz_streak INTEGER DEFAULT 0);
INSERT INTO users VALUES(1,'Matheus','theuspaivamota@gmail.com','scrypt:32768:8:1$zw6Xli2d8onOvo6k$28ada13ca2cb03b237d4f1c9ff79d8be6c1026b9e5b3b1e30cc2fa33575d2b34303d591d24cc86fb814eb02f3a39c402c91a500bd3ae9f4ef0d439275817f55a','/static/img/undraw_profile.svg',0);
INSERT INTO users VALUES(2,'Rosangela','mathpaivamota@gmail.com','scrypt:32768:8:1$araO7QjK9iHZasNW$78ec96a6544cbdaaf2236f6f7b42f54fe369693c9b900069c29838ee533a1940d9f102cc897a4236ead7593a1d20632b52cbeb3a37a06bf4192c5df3d402ea05','/static/img/undraw_profile.svg',2);p
CREATE TABLE reading_plans (id INTEGER PRIMARY KEY AUTOINCREMENT, name TEXT NOT NULL, description TEXT, duration INTEGER NOT NULL, parts INTEGER NOT NULL);
INSERT INTO reading_plans VALUES(1,'Whole Bible - 90 Days','Complete reading of the Bible from Genesis to Revelation in 90 days.',90,66);
INSERT INTO reading_plans VALUES(2,'Whole Bible - 120 Days','Complete reading of the Bible from Genesis to Revelation in 120 days.',120,66);
INSERT INTO reading_plans VALUES(3,'Whole Bible - 180 Days','Complete reading of the Bible from Genesis to Revelation in 180 days.',180,66);
CREATE TABLE reading_parts (id INTEGER PRIMARY KEY AUTOINCREMENT, plan_id INTEGER NOT NULL, name TEXT NOT NULL, FOREIGN KEY (plan_id) REFERENCES reading_plans(id));
INSERT INTO reading_parts VALUES(1,1,'Genesis');
INSERT INTO reading_parts VALUES(2,1,'Exodus');
INSERT INTO reading_parts VALUES(3,1,'Leviticus');
CREATE TABLE plans_history (id INTEGER PRIMARY KEY AUTOINCREMENT, user_id INTEGER NOT NULL, operation TEXT NOT NULL, plan_id INTEGER NOT NULL, time DATETIME DEFAULT CURRENT_TIMESTAMP, FOREIGN KEY(user_id) REFERENCES users(id), FOREIGN KEY(plan_id) REFERENCES reading_plans(id));
INSERT INTO plans_history VALUES(1,1,'started',8,'2025-08-08 19:45:18');
INSERT INTO plans_history VALUES(2,1,'deleted',8,'2025-08-08 19:45:40');
INSERT INTO plans_history VALUES(3,1,'started',5,'2025-08-08 19:45:46');
CREATE TABLE parts_history (id INTEGER PRIMARY KEY AUTOINCREMENT, user_id INTEGER NOT NULL, part_id INTEGER NOT NULL, plan_id INTEGER NOT NULL, time DATETIME DEFAULT CURRENT_TIMESTAMP, FOREIGN KEY(user_id) REFERENCES users(id), FOREIGN KEY(part_id) REFERENCES reading_parts(id) , FOREIGN KEY(plan_id) REFERENCES reading_plans(id));
INSERT INTO parts_history VALUES(1,1,214,3,'2025-08-08 19:46:36');
INSERT INTO parts_history VALUES(2,1,215,3,'2025-08-30 16:12:10');
INSERT INTO parts_history VALUES(3,1,595,13,'2025-08-30 16:26:02');
CREATE TABLE user_plans (id INTEGER PRIMARY KEY AUTOINCREMENT, user_id INTEGER NOT NULL, plan_id INTEGER NOT NULL, completed_parts INTEGER DEFAULT 0, completed BOOLEAN DEFAULT 0, FOREIGN KEY (user_id) REFERENCES users(id), FOREIGN KEY (plan_id) REFERENCES reading_plans(id));
INSERT INTO user_plans VALUES(6,1,29,5,1);
INSERT INTO user_plans VALUES(7,1,25,5,1);
INSERT INTO user_plans VALUES(8,2,16,5,1);
CREATE TABLE quizzes (id INTEGER PRIMARY KEY AUTOINCREMENT, book TEXT NOT NULL, total_questions INTEGER NOT NULL);
INSERT INTO quizzes VALUES(1,'Genesis',10);
INSERT INTO quizzes VALUES(2,'Exodus',10);
INSERT INTO quizzes VALUES(3,'Leviticus',10);
CREATE TABLE quiz_questions (id INTEGER PRIMARY KEY AUTOINCREMENT, quiz_id INTEGER NOT NULL, question TEXT NOT NULL, question_number INTEGER NOT NULL, FOREIGN KEY(quiz_id) REFERENCES quizzes(id));
INSERT INTO quiz_questions VALUES(674,1,'Who created the heavens and the earth?',1);
INSERT INTO quiz_questions VALUES(675,1,'What was the name of the first man?',2);
CREATE TABLE quiz_options (id INTEGER PRIMARY KEY AUTOINCREMENT, question_id INTEGER NOT NULL, option TEXT NOT NULL, is_correct BOOLEAN DEFAULT 0, FOREIGN KEY(question_id) REFERENCES quiz_questions(id));
INSERT INTO quiz_options VALUES(2687,674,'God',1);
INSERT INTO quiz_options VALUES(2688,674,'Moses',0);
INSERT INTO quiz_options VALUES(2689,674,'Abraham',0);
CREATE TABLE user_questions_results (id INTEGER PRIMARY KEY AUTOINCREMENT, user_id INTEGER NOT NULL, quiz_id INTEGER NOT NULL, question_id INTEGER NOT NULL, completed BOOLEAN DEFAULT 0, FOREIGN KEY(user_id) REFERENCES users(id), FOREIGN KEY(quiz_id) REFERENCES quizzes(id), FOREIGN KEY(question_id) REFERENCES quiz_questions(id));
INSERT INTO user_questions_results VALUES(391,1,4,31,1);
INSERT INTO user_questions_results VALUES(392,1,4,32,1);
INSERT INTO user_questions_results VALUES(393,1,4,33,1);
CREATE TABLE user_quizzes_results (id INTEGER PRIMARY KEY AUTOINCREMENT, user_id INTEGER NOT NULL, quiz_id INTEGER NOT NULL, completed BOOLEAN DEFAULT 0, completed_questions INTEGER DEFAULT 0, right_answers INTEGER DEFAULT 0, FOREIGN KEY(user_id) REFERENCES users(id), FOREIGN KEY(quiz_id) REFERENCES quizzes(id));
INSERT INTO user_quizzes_results VALUES(41,1,4,1,10,7);
INSERT INTO user_quizzes_results VALUES(42,2,1,0,4,3);
INSERT INTO user_quizzes_results VALUES(43,1,1,1,10,4);
INSERT INTO sqlite_sequence VALUES('reading_plans',30);
INSERT INTO sqlite_sequence VALUES('reading_parts',735);
INSERT INTO sqlite_sequence VALUES('quizzes',66);
COMMIT;
