<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body style="font-family: Arial, sans-serif;">
    <h2 style="color: #72dabc;">Reset Password link</h2>
    <p>You have requested a password reset. <br> click the button below:</p>
    <a href="{{ reset_url }}" style="display: inline-block; padding: 10px 20px; background-color: #72dabc; color: white; text-decoration: none; border-radius: 5px">
        Reset Password
    </a>    
    <p>If you did not make this request, <br>just ignore this email.</p>
</body>
</html>
